.home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .card {
    margin-top: 2rem;
    background-color: white;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    padding: 20px;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 600px;
    width: 100%;
    h1 {
      margin: 3rem 0;
      text-transform: uppercase;

      transition: all 0.3s;
      font: 700 1.2rem inherit;
      background-image: linear-gradient(to right, #4d4dff, purple);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &:hover {
        transform: skewY(0deg) skewX(0deg) scale(1.1);
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.12rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    button {
      //   width: 5rem;
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
      outline: none;
      color: white;
      background-color: #4d4dff;
      font-weight: 600;
      border: 2px solid white;
      border-radius: 10px;
    }
  }
}
@media screen and (max-width: 700px) {
  .card {
    max-width: 90%;

    h1 {
      margin: 2rem 0;
      font: 600 0.8rem inherit;
    }
  }
}
