.language-selector {
  height: 8rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    width: 7rem;
    height: 4rem;
    background-color: #4d4dff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    font-weight: 600;

    &:hover {
      background-color: #4d4dff94;
      transform: scale(1.05);
    }

    &:focus {
      outline: none;
    }

    @media (max-width: 768px) {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
}
